* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

/*------ Header ------*/

header {
    background-color: green;
    border-bottom: 5px solid black;
}

header div {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 10vh;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

header div h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: white;
}

header div h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: orange;
}

/*------ Main ------*/

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    height: 90vh;
}

#aviso {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
    padding: 3px;
    left: 27vw;
    top: 50vh;
}

#aviso h1 {
    font-size: 38px;
    padding: 5px;
    color: green;
}

#close {
    padding: 1px 7px;
    position: absolute;
    border-radius: 100%;
    left: 95%;
    top: 10%;
    text-align: center;
}

/*--- Contadores ---*/

.contadores {
    background-color: lightgray;
    width: 90%;
    min-height: 5vh;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid rgb(15,15,15);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 5vh;
}

.contador {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 2px;
}

#vitoria, #derrota, #empates {
    width: 100%;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 5px 0;
    border-radius: 20px;
    border: 1px solid black;
}

.desc {
    text-align: center;
}

/*--- Resultado ---*/

.resultado {
    border: 2px solid rgb(15,15,15);
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-top: none;
    margin-top: -12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 20px;
}

#resultadoTexto {
    padding: 8px 0;
}

.pontos {
    border-top: 2px dotted rgba(15,15,15,0.4);
    padding-top: 8px;
    margin-top: 8px;
}

/*
#pontosTxt {
    display: inline;
}

#valorPontos {
    display: inline;
}
*/

/*------ Modo Escuro ------*/

.dark {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5px;
    background-color: rgb(187, 187, 187);
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
    position: absolute;
    left: 97vw;
    top: 20vh;
    transition: .5s;
}

.dark label {
    display: none;
    width: 60px;
}

.dark #drksw {
    display: none;
}

.dark:hover #drksw {
    display: flex;
}

.dark:hover label {
    display: flex;
}

.dark:hover {
    left: 92vw;
}

.escurativo {
    background-color: rgb(40, 40, 40);
    color: rgb(236, 236, 236);
}

/*------ Botoes ------*/

#round, #reset {
    background-color: rgb(17, 17, 17);
    color: rgb(249, 249, 249);
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    transition: .3s;
}

#round:active, #reset:active {
    transform: translateY(2px);
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

#reset {
    padding: 5px 10px;
    text-align: center;
    padding-left: 13px;
}

/*------ Versionamento ------*/

#versionCtl {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    display: inline;
    font-family:'Courier New', Courier, monospace;
    position: fixed;
    bottom: 0vh;
    font-size: 12px;
    right: 1vw;
    background-color: rgba(245,245,245,0.4);
}

/*------ PopUps ------*/

.popup {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(224, 224, 224);
    padding: 10px 0;
    width: 15vw;
    border-radius: 15px;
    border: 1px solid black;
    position: absolute;
    top: 44vh;
    left: 42vw;
    transition: .4s;
}


.confirmas {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.confirma {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
    transition: .4s;
}

.confirma:active {
    transform: translateY(2px);
}

/*------ Footer ------*/
footer {
    width: 100vw;
    height: 20vh;
    display: flex;
    margin-top: 15px;
    background-color: green;
    bottom: 0%;
    justify-content: center;
    align-items: center;
}

footer .organizador {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grassFoot {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#grasshopper_logo {
    border-radius: 15px;
    transition: 2s;
}



.organizador label {
    border-left: 2px solid #eeeeee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 8px;
    text-align: center;
    font-size: 20px;
    color: #eeeeee;
}

#ftbar {
    height: 70%;
    width: 0px;
    border: 1px solid white;
    margin: 0 20px;
}

.creditos {
    width: 30%;
    color: #eeeeee;
}